body {
    background-color: rgba(62, 128, 81, 0.8);
    width: 99vw;
    height: 98vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calculator {
    width: 350px;
    height: 500px;
    border: 1px solid #000000;
    background-color: #e9edf5;
    display: grid;
    grid-template: 1fr 2fr / 1fr;
    grid-template-areas: "calc-head" 
                         "calc-body";
    border-radius: 10px;
}

#calc-head {
    grid-area: calc-head;
    display: flex;
    justify-content: center;
    align-items: center;
}

#display {
    background-color: rgb(244, 250, 231);
    height: 80%;
    width: 85%;
    border: 1px solid black;
    font-size: 200%;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 10px;
}

#calc-body {
    grid-area: calc-body;
    display: grid;
    grid-template: 1fr / 2fr 1fr;
    grid-template-areas: "number-keys operator-keys";
    margin: 0px 10px 20px 10px;
}

#number-keys {
    grid-area: number-keys;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr;
    grid-template-areas: "key-7 key-8 key-9"
                         "key-4 key-5 key-6"
                         "key-1 key-2 key-3"
                         "key-0 key-0 key-dot";
    grid-gap: 10px 5px;
    margin: 5px;
}

#operator-keys {
    grid-area: operator-keys;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr;
    grid-template-areas: "key-ac key-del"
                         "key-multiply key-divide"
                         "key-add key-subtract"
                         "key-equals key-equals";
    grid-gap: 10px 5px;
    margin: 5px;
}

button {
    width: 100%;
    height: 100%;
    border-radius: 5%;
    border: 1px solid black;
    font-size: 150%;
}

.number-key {
    background-color: white;
}

.number-key:active {
    background-color: rgb(240, 240, 240);
    box-shadow: 0 0 1px 3px rgb(185, 185, 185) inset;
    /* border: 3px solid rgb(185, 185, 185); */
}

.operator-key {
    background-color: hsl(0, 79%, 72%);
}

.operator-key:active {
    background-color: hsl(0, 75%, 70%);
    box-shadow: 0 0 1px 3px hsl(0, 50%, 60%) inset;
    /* border: 3px solid rgb(192, 100, 100); */
}